@import '../../../../shield-option-common/common';

.statistic {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 16px;
  margin-bottom: 32px;

  .title {
    .font(18, @color-normal-font);
  }

  .content {
    background-color: @color-bg-f7;
    border-radius: @border-radius-btn2;
    padding: 16px;

    .items {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
      padding-bottom: 20px;

      &.mobile {
        grid-template-columns: 1fr;
        grid-row-gap: 16px;
      }
    }

    .subTitle {
      .font(14, @color-desc);
      padding: 0 0 12px 0;
    }

    .noData {
      .font(14, @color-desc);
      text-align: center;
    }

    .fees {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 110px));
      grid-row-gap: 8px;
      grid-column-gap: 8px;
      padding: 0 16px;
    }
  }
}
