@import '../../../../shield-option-common/common';

.tableOuter {
  padding: 16px;
  background-color: @color-white;
  border-radius: @border-radius-btn2;
}

.feeCell {
  display: flex;
  column-gap: 12px;
  row-gap: 8px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
