@import '../../../../../shield-option-common/common';

.wrapperParam {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'i d'
    's s';
  justify-content: space-between;
  grid-row-gap: 24px;
  grid-column-gap: 32px;

  &.mobile {
    grid-template-columns: 1fr;
    grid-template-areas:
      'i'
      'd'
      's';
    grid-row-gap: 16px;
  }

  .index {
    grid-area: i;
  }

  .day {
    grid-area: d;
  }

  .select {
    grid-area: s;
  }
}

.resize {
  overflow: hidden;
  line-height: 0 !important;
}
